* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
}

.container__barra {
    width: 100%;
    height: 100%;
    background-color: #7DA1D0;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 100%;
    place-items: center;
}


/* Estilos para el encabezado */
.header {
    display: flex; /* Usar flexbox para el diseño del encabezado */
    height: 10vh; /* Altura del encabezado */
    width: 100vw; /* Ancho del encabezado que ocupa todo el viewport */
    background-color: #7DA1D0; /* Color de fondo */
    justify-content: space-between; /* Espacio entre los elementos del encabezado */
    align-items: center; /* Alinear elementos al centro verticalmente */
}

/* Estilos para los contenedores de menú y perfil en el encabezado */
.header__menuYPerfil {
    display: flex; /* Usar flexbox para el diseño */
    height: 70px; /* Altura del contenedor */
    width: 70px; /* Ancho del contenedor */
    border-radius: 20px; /* Bordes redondeados */
    align-items: center; /* Alinear elementos al centro verticalmente */
    justify-content: center; /* Centrar elementos horizontalmente */
    flex-direction: column; /* Disponer elementos en columna */
}

/* Estilos para el botón de menú */
.header__botonMenu {
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    height: 30px; /* Altura del botón */
    width: 110px; /* Ancho del botón */
    margin-left: -150px; /* Margen izquierdo negativo */
    display: flex; /* Usar flexbox para el diseño */
    position: absolute; /* Posicionamiento absoluto */
    left: 180px; /* Posicionamiento a la izquierda */
    top: 50px; /* Posicionamiento desde arriba */
    z-index: 100; /* Prioridad de apilamiento alta */
}

.botonMenu__imgYTexto i {
    width: 45px;
    height: 45px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-8px) translateX(-30px);
}

/* Estilos para la imagen y el texto dentro del botón de menú */
.botonMenu__imgYTexto {
    display: flex; /* Usar flexbox para el diseño */
    align-items: center; /* Alinear elementos al centro verticalmente */
    justify-content: center; /* Centrar elementos horizontalmente */
    height: 100%; /* Altura completa del contenedor padre */
    width: 30%; /* Ancho del 30% del contenedor padre */
    margin-left: 30px; /* Margen izquierdo */
}

/* Estilos para la imagen del botón de menú */
.imgYTexto__img {
    height: 100%; /* Altura completa del contenedor padre */
    width: 80%; /* Ancho del 80% del contenedor padre */
    transform: translateY(-35px); /* Desplazamiento vertical de la imagen */
}

/* Estilos para la imagen desplegada */
.img__desplegado {
    display: flex; /* Usar flexbox para el diseño */
}

/* Estilos para el texto dentro del botón de menú */
.imgYTexto__texto {
    font-size: 25px; /* Tamaño de la fuente */
    margin-left: -20px; /* Margen izquierdo */
    transform: translateY(-35px); /* Desplazamiento vertical del texto */
}

/* Estilos para el menú */
.menu {
    margin-left: 5px; /* Margen izquierdo */
    transition: transform 2s, box-sizing 2s, padding 2s, background-color 2s; /* Transiciones */
    display: flex; /* Usar flexbox para el diseño */
    height: 100%; /* Altura completa */
    width: 20%; /* Ancho del 20% */
    flex-direction: column; /* Disponer elementos en columna */
    align-items: center; /* Alinear elementos al centro verticalmente */
    transform: translateY(215px); /* Desplazamiento vertical */
}

/* Estilos para las opciones del menú desplegado */
.menu__opcionesDesplegadas {
    box-sizing: content-box; /* Box sizing para incluir padding y border */
    height: 470px; /* Altura del contenedor */
    width: 23%; /* Ancho del contenedor */
    background-color: rgba(96, 124, 138, 1); /* Color de fondo */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el contenedor */
    display: none; /* Ocultar contenedor por defecto */
    position: relative; /* Posicionamiento relativo */
    z-index: 90; /* Prioridad de apilamiento */
    transform: translateX(650px) translateY(210px);
}

/* Estilos para los iconos y texto de las opciones desplegadas */
.opcionesDesplegadas__iconoYTexto {
    height: 40px; /* Altura del contenedor */
    width: 250px; /* Ancho del contenedor */
    display: flex; /* Usar flexbox para el diseño */
    margin-left: -20px; /* Margen izquierdo negativo */
    transform: translateY(-5px); /* Desplazamiento vertical */
    border-radius: 20px; /* Bordes redondeados */
    flex-direction: row-reverse;
}

/* Efecto hover para las opciones desplegadas */
.opcionesDesplegadas__iconoYTexto:hover {
    background-color: rgba(176, 190, 197, 1); /* Color de fondo al pasar sobre la opción */
}

/* Estilos para los iconos de las opciones desplegadas */
.iconoYTexto__icono {
    margin-left: -40px; /* Margen izquierdo negativo */
    height: 80%; /* Altura del 80% del contenedor padre */
}

/* Estilos para el texto de las opciones desplegadas */
.iconoYTexto__texto {
    font-size: 22px; /* Tamaño de la fuente */
    width: 70%; /* Ancho del 70% */
    text-align: center; /* Alinear texto al centro */
    transform: translateX(-15px); /* Desplazamiento horizontal del texto */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el texto */
}

/* Estilos para el contenedor del perfil */
.perfil {
    margin-right: 15px; /* Margen derecho */
    position: absolute; /* Posicionamiento absoluto */
    right: -1px; /* Posicionamiento a la derecha */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el contenedor */
}

/* Estilos para el perfil activado */
.perfilActivado {
    display: none; /* Ocultar por defecto */
    align-items: center; /* Alinear elementos al centro verticalmente */
    flex-direction: column; /* Disponer elementos en columna */
    height: 65%; /* Altura del 75% */
    width: 32%; /* Ancho del 38% */
    position: absolute; /* Posicionamiento absoluto */
    background-color: white; /* Color de fondo */
    top: 12%; /* Posicionamiento desde arriba */
    left: 65%; /* Posicionamiento desde la izquierda */
    border-radius: 35px; /* Bordes redondeados */
    z-index: 100; /* Prioridad de apilamiento alta */
    border: 1px solid black;
}

/* Estilos para los contenedores dentro del perfil activado */
.perfilActivado__contenedores {
    height: 15%; /* Altura del contenedor */
    width: 100%; /* Ancho del contenedor */
    display: flex; /* Usar flexbox para el diseño */
    align-items: center; /* Alinear elementos al centro verticalmente */
    justify-content: center; /* Centrar elementos horizontalmente */
}

/* Estilos específicos para la imagen dentro del contenedor del perfil */
.perfil__contenedores--img {
    height: 35%; /* Altura del contenedor */
}

/* Estilos comunes para los elementos dentro de los contenedores del perfil */
.contenedores__nombre,
.contenedores__img,
.contenedores__saludo,
.contenedores__GestionarCuenta,
.contenedores__cerrarSesion {
    display: flex; /* Usar flexbox para el diseño */
    align-items: center; /* Alinear elementos al centro verticalmente */
    justify-content: center; /* Centrar elementos horizontalmente */
}

/* Estilos para los botones dentro del perfil */
.contenedores__boton {
    background-color: rgba(0, 92, 105, 1); /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 50px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    padding: 10px 30px; /* Espaciado interno */
}

/* Efecto hover para los botones dentro del perfil */
.contenedores__boton:hover {
    padding: 12px 40px; /* Aumentar el espaciado interno */
}

/* Estilos específicos para los botones de gestionar cuenta y cerrar sesión */
/* .contenedores__cerrarSesion {}
.contenedores__boton--gestionarCuenta {}
.contenedores__boton--cerrarSesion {} */

/* Estilos para la imagen dentro del perfil */
.perfil__img {
    height: 70%; /* Altura del 70% */
    width: 70%; /* Ancho del 70% */
}



.container__contenido {
    width: 100%;
    height: 100%;
    background-color: #b0bec5;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container__informacion {
    width: 820px;
    height: 350px;
    background-color: #E9ECEF;
    border-radius: 15px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 46% 46% 8%;
    grid-template-rows: 5fr 1fr;
    place-items: center;
}

.left-section,
.right-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container__imagenX {
    grid-row: 1;
    grid-column: 3;
    width: 100%;
    height: 100%;
}

.botonX {
    font-size: 60px;
    border: none;
    display: flex;
    justify-content: start;
    border-radius: 15px;
    background-color: #E9ECEF;
}

.botonX:hover {
    background-color: #e3e3e4;
}


.boton__nuevacategoria {
    grid-row: 2;
    grid-column: span 3;
    width: 155px;
    height: 40px;
    background-color: #005C69;
    border-radius: 10px;
    border: none;
    place-items: center;
    font-size: 20px;
    color: white;
    font-family: serif;
    margin-bottom: 20px;
}

.boton__nuevacategoria:hover {
    background-color: #003445;
}

textarea {
    width: 300px;
    height: 70px;
    resize: none;
    padding: 5px;
    border: 1px solid #383838;
    border-radius: 5px;
    font-size: 15px;
}

label {
    font-weight: bolder;
    font-size: 18px;
}

input {
    width: 300px;
    height: 20px;
    padding: 5px;
    border: 1px solid #383838;
    font-size: 15px;
    border-radius: 5px;
}



.ventana {
    width: 370px;
    height: 220px;
    background-color: rgb(189, 179, 179);
    border-radius: 5px;
    border: 1px solid rgb(209, 209, 209);
    flex-direction: column;
    display: none;
    position: absolute;
    top: 190px;
    right: 480px;
}

.header2 {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    justify-content: end;
}

.btn-close {
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 30px;
}

.btn-close:hover {
    color: gray;
}


/* Cuerpo, texto */
.body {
    padding: 20px;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    text-align: center;
}

.text_information {
    font-size: 22px;
}

/* Pie, botones, si y no */
.footer {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn-confirm {
    width: 50px;
    height: 30px;
    border: none;
    background-color: blue;
    border-radius: 5px;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-size: 17px;
}

.btn-confirm:hover {
    cursor: pointer;
    background-color: rgb(126, 126, 126);
}

.yes {
    margin-right: 20px;
}



/* Responsive para pantallas hasta 768px */
@media (max-width: 768px) {
    .container__barra {
        grid-template-columns: 12% 68% 20%;
    }

    .perfilActivado {
        transform: translateX(-120px);
        width: 70%;
        /* Ajusta el ancho */
        border-radius: 30px;
        /* Ajusta el radio del borde */
    }

    .menu__opcionesDesplegadas {
        width: 70%;
        /* Ajusta el ancho para ocupar más espacio en pantallas pequeñas */
        transform: translateX(220px) translateY(210px);
    }

    .perfilActivado {
        transform: translateX(-200px);
    }

    label{
        margin-left: 10px;
    }

    textarea {
        width: 170px;
        height: 60px;
        margin-left: 10px;
        font-size: 15px;
    }

    input {
        width: 170px;
        height: 20px;
        font-size: 15px;
        margin-left: 10px;
    }

    .container__informacion {
        width: 450px;
        height: 400px;
    }

    .botonX {
        font-size: 35px;
    }

    .boton__nuevacategoria {
        width: 135px;
        height: 35px;
        font-size: 16px;
    }

    .ventana {
        top: 190px;
        right: 70px;

    }
}