* {
  margin: 0px;
  padding: 0px;
}

/* Encabezado principal */
.header {
  display: flex;
  /* Utiliza flexbox para alinear los elementos hijos */
  height: 10vh;
  /* Altura del encabezado como 10% de la ventana gráfica */
  width: 100vw;
  /* Ancho del encabezado al 100% de la ventana gráfica */
  background-color: #7DA1D0;
  /* Color de fondo azul */
  justify-content: space-between;
  /* Distribuye el espacio entre los elementos hijos */
  align-items: center;
  /* Alinea los elementos hijos verticalmente al centro */
}

/* Contenedor para el menú y el perfil en el encabezado */
.header__menuYPerfil {
  display: flex;
  /* Utiliza flexbox para alinear los elementos hijos */
  height: 45px;
  /* Altura fija de 45px */
  width: 45px;
  /* Ancho fijo de 45px */
  border-radius: 20px;
  /* Bordes redondeados */
  background-color: #B0BEC5;
  /* Color de fondo gris */
  align-items: center;
  /* Alinea los elementos hijos verticalmente al centro */
  justify-content: center;
  /* Alinea los elementos hijos horizontalmente al centro */
  flex-direction: column;
  /* Alinea los elementos hijos en columna */
}

/* Botón del menú en el encabezado */
.header__botonMenu {
  cursor: pointer;
  /* Cambia el cursor a un puntero cuando pasa sobre el botón */
  height: 30px;
  /* Altura fija de 30px */
  width: 110px;
  /* Ancho fijo de 110px */
  margin-left: -150px;
  /* Margen izquierdo negativo */
  display: flex;
  /* Utiliza flexbox para alinear los elementos hijos */
  position: absolute;
  /* Posiciona el botón de manera absoluta */
  left: 180px;
  /* Posiciona el botón 180px desde la izquierda */
  top: 50px;
  /* Posiciona el botón 50px desde arriba */
  z-index: 100;
  /* Coloca el botón en la parte superior del contenido */
}

/* Contenedor para la imagen y el texto del botón del menú */
.botonMenu__imgYTexto {
  display: flex;
  /* Utiliza flexbox para alinear los elementos hijos */
  align-items: center;
  /* Alinea los elementos hijos verticalmente al centro */
  justify-content: center;
  /* Alinea los elementos hijos horizontalmente al centro */
  height: 100%;
  /* Altura completa del contenedor padre */
  width: 30%;
  /* Ancho del 30% del contenedor padre */
  margin-left: 30px;
  /* Margen izquierdo de 30px */
}

/* Imagen dentro del botón del menú */
.imgYTexto__img {
  height: 100%;
  /* Altura completa del contenedor padre */
  width: 80%;
  /* Ancho del 80% del contenedor padre */
  transform: translateY(-35px);
  /* Mueve la imagen hacia arriba */
}

/* Imagen desplegada (visible) */
.img__desplegado {
  display: flex;
  /* Muestra la imagen */
}

/* Texto dentro del botón del menú */
.imgYTexto__texto {
  font-size: 25px;
  /* Tamaño de fuente de 25px */
  margin-left: 10px;
  /* Margen izquierdo de 10px */
  transform: translateY(-35px);
  /* Mueve el texto hacia arriba */
}



/* Menú principal */
.menu {
  margin-left: 5px;
  /* Margen izquierdo de 5px */
  transition: transform 2s, box-sizing 2s, padding 2s, background-color 2s;
  /* Transiciones suaves para varias propiedades */
  display: flex;
  /* Utiliza flexbox para alinear los elementos hijos */
  height: 100%;
  /* Altura completa del contenedor padre */
  width: 20%;
  /* Ancho del 20% del contenedor padre */
  flex-direction: column;
  /* Alinea los elementos hijos en columna */
  align-items: center;
  /* Alinea los elementos hijos horizontalmente al centro */
  transform: translateY(190px);
  /* Mueve el menú hacia abajo */
}

/* Opciones desplegadas del menú */
.menu__opcionesDesplegadas {
  box-sizing: content-box;
  /* El modelo de caja incluye padding y border */
  height: 420px;
  /* Altura fija de 470px */
  width: 20%;
  /* Ancho del 25% del contenedor padre */
  background-color: rgba(96, 124, 138, 1);
  /* Color de fondo con transparencia */
  cursor: pointer;
  /* Cambia el cursor a un puntero cuando pasa sobre las opciones */
  display: none;
  /* Oculta las opciones inicialmente */
  position: relative;
  /* Posiciona las opciones de manera relativa */
  z-index: 90;
  /* Coloca las opciones por encima de otros elementos */
}

/* Contenedor de cada opción desplegada del menú */
.opcionesDesplegadas__iconoYTexto {
  height: 40px;
  /* Altura fija de 40px */
  width: 250px;
  /* Ancho fijo de 250px */
  display: flex;
  /* Utiliza flexbox para alinear los elementos hijos */
  margin-left: -20px;
  /* Margen izquierdo negativo */
  transform: translateY(-5px);
  /* Mueve el contenedor hacia arriba */
  border-radius: 20px;
  /* Bordes redondeados */
  flex-direction: row-reverse;
  /* Alinea los elementos hijos en fila inversa */
}

/* Efecto al pasar el cursor sobre las opciones desplegadas */
.opcionesDesplegadas__iconoYTexto:hover {
  background-color: rgba(176, 190, 197, 1);
  /* Cambia el color de fondo al pasar el cursor */
}

/* Icono dentro de cada opción desplegada del menú */
.iconoYTexto__icono {
  margin-left: -40px;
  /* Margen izquierdo negativo */
  height: 80%;
  /* Altura del 80% del contenedor padre */
}

/* Texto dentro de cada opción desplegada del menú */
.iconoYTexto__texto {
  font-size: 22px;
  /* Tamaño de fuente de 22px */
  width: 70%;
  /* Ancho del 70% del contenedor padre */
  text-align: center;
  /* Alinea el texto al centro */
  transform: translateX(-15px);
  /* Mueve el texto hacia la izquierda */
  cursor: pointer;
  /* Cambia el cursor a un puntero cuando pasa sobre el texto */
}

/* Perfil del usuario en el encabezado */
.perfil {
  margin-right: 15px;
  /* Margen derecho de 15px */
  position: absolute;
  /* Posiciona el perfil de manera absoluta */
  right: -1px;
  /* Posiciona el perfil 1px desde la derecha */
  cursor: pointer;
  /* Cambia el cursor a un puntero cuando pasa sobre el perfil */
}

/* Perfil activado */
.perfilActivado {
  display: none;
  /* Oculta el perfil activado inicialmente */
  align-items: center;
  /* Alinea los elementos hijos verticalmente al centro */
  flex-direction: column;
  /* Alinea los elementos hijos en columna */
  height: 75%;
  /* Altura del 75% del contenedor padre */
  width: 28%;
  /* Ancho del 28% del contenedor padre */
  position: absolute;
  /* Posiciona el perfil de manera absoluta */
  background-color: white;
  /* Color de fondo blanco */
  top: 12%;
  /* Posiciona el perfil 12% desde la parte superior */
  left: 70%;
  /* Posiciona el perfil 70% desde la izquierda */
  border-radius: 35px;
  /* Bordes redondeados */
  z-index: 100;
  /* Coloca el perfil por encima de otros elementos */
}

/* Contenedores dentro del perfil activado */
.perfilActivado__contenedores {
  height: 15%;
  /* Altura del 15% del contenedor padre */
  width: 100%;
  /* Ancho completo del contenedor padre */
  display: flex;
  /* Utiliza flexbox para alinear los elementos hijos */
  align-items: center;
  /* Alinea los elementos hijos verticalmente al centro */
  justify-content: center;
  /* Alinea los elementos hijos horizontalmente al centro */
}

/* Contenedor de la imagen del perfil */
.perfil__contenedores--img {
  height: 50%;
  /* Altura del 35% del contenedor padre */
  width: 100%;
}

/* Estilos de los contenedores de las opciones de perfil */
.contenedores__nombre,
.contenedores__img,
.contenedores__saludo,
.contenedores__GestionarCuenta,
.contenedores__cerrarSesion {
  display: flex;
  /* Muestra el contenido horizontalmente */
  align-items: center;
  /* Alinea el contenido verticalmente */
  justify-content: center;
  /* Alinea el contenido horizontalmente */
}

.contenedores__img {
  height: 90%;
  width: 90%;
}

/* Estilos de los botones en los contenedores de las opciones de perfil */
.contenedores__boton {
  background-color: rgba(0, 92, 105, 1);
  /* Establece el color de fondo */
  color: white;
  /* Establece el color del texto */
  border: none;
  /* Elimina el borde */
  border-radius: 50px;
  /* Aplica un borde redondeado */
  cursor: pointer;
  /* Cambia el cursor a un puntero al pasar el ratón */
  padding: 10px 30px;
  /* Establece el relleno */
}

/* Estilos de los botones en los contenedores de las opciones de perfil al pasar el ratón */
.contenedores__boton:hover {
  padding: 12px 80px;
  /* Aumenta el relleno al pasar el ratón */
}

/* Estilos de la imagen de perfil */
.perfil__img {
  height: 70%;
  /* Establece la altura */
  width: 70%;
  /* Establece el ancho */
}

/* _______________________________________________________---------------------------------------------------------------------------------------------- */
/* _____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________ */
/* Contenedor principal */
.container__contenido {
  width: 100%;
  /* Ancho completo */
  height: 90vh;
  /* Altura del 90% del viewport height */
  background-color: #B0BEC5;
  /* Color de fondo */
  display: grid;
  /* Usar grid */
  grid-template-columns: 33% 34% 33%;
  /* Tres columnas */
  grid-template-rows: 30% 65% 5%;
  /* Tres filas con porcentajes de altura */
  place-items: center;
  /* Centrar elementos */
  overflow: hidden;
  /* Ocultar el desbordamiento */
}

/* Contenedor de la imagen */
.container__imagen {
  grid-column: 2;
  /* Ocupa la segunda columna */
  width: 100%;
  /* Ancho completo */
  height: 100%;
  /* Altura completa */
  display: flex;
  /* Usar flexbox */
  align-items: center;
  /* Centrar verticalmente */
  justify-content: center;
  /* Centrar horizontalmente */
}

.existencias {
  height: 90%;
  /* Altura del 90% */
}

/* Contenedor de la lista */
.container__lista {
  grid-column: span 3;
  /* Ocupa tres columnas */
  grid-row: 2;
  /* En la segunda fila */
  width: 100%;
  /* Ancho completo */
  height: 100%;
  /* Altura completa */
  overflow-y: auto;
  /* Scroll vertical si es necesario */
  padding-left: 150px;
  /* Relleno a la izquierda */
}

/* Estilos para la lista de elementos */
.caja__lista {
  list-style-type: none;
  /* Sin viñetas */
  display: flex;
  /* Usar flexbox */
  flex-wrap: wrap;
  /* Envolver elementos */
  row-gap: 20px;
  /* Espacio entre filas */
  column-gap: 70px;
  /* Espacio entre columnas */
  justify-content: start;
  /* Justificar al inicio */
  padding-bottom: 40px;
  /* Relleno en la parte inferior */
}

/* Estilos para cada elemento de la lista */
.caja {
  width: 280px;
  /* Ancho específico */
  height: 400px;
  /* Altura específica */
  background-color: white;
  /* Color de fondo */
  border-radius: 5px;
  /* Bordes redondeados */
  padding: 15px;
  /* Relleno */
  display: grid;
  /* Usar grid */
  grid-template-columns: 1fr;
  /* Una columna */
  grid-template-rows: 30% 18% 8% 8% 8% 28%;
  /* Alturas de filas */
}

/* Imagen dentro de cada elemento */
.imagen {
  grid-row: 1;
  /* En la primera fila */
  width: 100%;
  /* Ancho completo */
  height: 100%;
  /* Altura completa */
  display: flex;
  /* Usar flexbox */
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
  margin-top: 10px;
  /* Margen superior */
}

.imagen__imagen {
  height: 100%;
  /* Altura completa */
}

/* Nombre del producto */
.nombre {
  grid-row: 2;
  /* En la segunda fila */
  width: 100%;
  /* Ancho completo */
  height: 20%;
  /* Altura del 20% */
  text-align: center;
  /* Alineación centrada */
  font-size: 25px;
  /* Tamaño de fuente */
  font-weight: bold;
  /* Negrita */
  margin-top: 35px;
  /* Margen superior */
  border-top: 1px solid rgb(70, 67, 67);
  /* Borde superior */
}

/* Categoría del producto */
.categoria {
  grid-row: 3;
  /* En la tercera fila */
  width: 100%;
  /* Ancho completo */
  height: 20%;
  /* Altura del 20% */
  font-size: 22px;
  /* Tamaño de fuente */
  margin-top: 25px;
  /* Margen superior */
}

/* Unidades disponibles */
.unidades {
  grid-row: 4;
  /* En la cuarta fila */
  width: 100%;
  /* Ancho completo */
  height: 20%;
  /* Altura del 20% */
  font-size: 22px;
  /* Tamaño de fuente */
  margin-top: 25px;
  /* Margen superior */
}

/* Precio del producto */
.precio {
  grid-row: 5;
  /* En la quinta fila */
  width: 100%;
  /* Ancho completo */
  height: 20%;
  /* Altura del 20% */
  font-size: 22px;
  /* Tamaño de fuente */
  margin-top: 25px;
  /* Margen superior */
}

/* Proveedor del producto */
.proveedor {
  grid-row: 6;
  /* En la sexta fila */
  width: 100%;
  /* Ancho completo */
  height: 20%;
  /* Altura del 20% */
  font-size: 22px;
  /* Tamaño de fuente */
  margin-top: 25px;
  /* Margen superior */
}

/* Contenedor para botones */
.container__button {
  width: 100%;
  /* Ancho completo */
  height: 20%;
  /* Altura del 20% */
  display: flex;
  /* Usar flexbox */
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
  margin-top: -20px;
  /* Margen negativo arriba */
}

/* Estilos del botón de existencia */
.button__existencia {
  width: 155px;
  /* Ancho específico */
  height: 38px;
  /* Altura específica */
  background-color: #005C69;
  /* Color de fondo */
  border-radius: 10px;
  /* Bordes redondeados */
  border: none;
  /* Sin borde */
  font-size: 20px;
  /* Tamaño de fuente */
  color: white;
  /* Color del texto */
  font-family: serif;
  /* Fuente */
}

/* Estilos para el botón de enviar */
.botonEnviar {
  display: flex;
  /* Usar flexbox */
  align-items: center;
  /* Centrar verticalmente */
  justify-content: center;
  /* Centrar horizontalmente */
  height: 50px;
  /* Altura específica */
  width: 154px;
  /* Ancho específico */
  border: none;
  /* Sin borde */
  border-radius: 20px;
  /* Bordes redondeados */
  cursor: pointer;
  /* Cursor apuntador */
  background-color: #005C69;
  color: white;
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
  .container__barra {
    grid-template-columns: 12% 68% 20%;
    /* Definir columnas */
  }

  .perfilActivado {
    transform: translateX(-120px);
    /* Desplazar hacia la izquierda */
    width: 70%;
    /* Ajustar el ancho */
    border-radius: 30px;
    /* Ajustar el radio del borde */
  }

  .menu__opcionesDesplegadas {
    width: 70%;
    /* Ajustar el ancho para ocupar más espacio en pantallas pequeñas */
    transform: translateX(220px) translateY(210px);
    /* Desplazar */
  }

  .perfilActivado {
    transform: translateX(-200px);
    /* Desplazar hacia la izquierda */
  }

  /* Ajustes para la lista */
  .container__lista {
    padding-left: 20px;
    /* Relleno a la izquierda */
  }

  /* Ajustes para los elementos de la lista */
  .caja__lista {
    column-gap: 10px;
    /* Espacio entre columnas */
  }
}