/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor principal */
.contenedorPrincipal {
    background-color: rgba(49, 78, 93, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

/* Estilos para el contenedor del mensaje */
.contenedorPrincipal__mensaje {
    background-color: white;
    height: 75vh;
    width: 35vw;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; /* Centra el texto horizontalmente */
    padding: 20px; /* Añade padding para separar el contenido del borde */
}

/* Estilos para la imagen dentro del mensaje */
.mensaje__img {
    height: 35%;
    width: 75%; /* Ajusta el tamaño según tus necesidades */
    margin-bottom: 20px; /* Espacio inferior para separar del título */
}

/* Estilos para el título dentro del mensaje */
.mensaje__h1 {
    font-size: 2.5rem; /* Ajusta el tamaño del título */
    margin-bottom: 20px; /* Espacio inferior para separar del formulario */
}

/* Estilos para el formulario dentro del mensaje */
.mensaje__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Asegura que el formulario ocupe todo el ancho disponible */
}

/* Estilos para el párrafo dentro del formulario */
.form__parrafo {
    margin-bottom: 20px; /* Espacio inferior para separar del input */
    font-size: 1.2rem; /* Ajusta el tamaño del texto del párrafo */
    text-align: center; /* Centra el texto horizontalmente */
}

/* Estilos para el input dentro del formulario */
.form__input {
    border: 3px solid black;
    border-radius: 10px;
    height: 35px;
    width: 80%;
    margin-top: 8px;
    padding: 8px; /* Añade espacio interno al input */
    font-size: 1rem; /* Ajusta el tamaño del texto del input */
}

/* Estilos para el botón de submit dentro del formulario */
.form__submit {
    width: 65%;
    height: 35px;
    box-sizing: border-box;
    background-color: rgba(0, 92, 105, 1); 
    color: white; 
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5rem; /* Ajusta el tamaño del texto del botón */
    margin-top: 10px;
    transition: width 700ms;
}

/* Estilos para el hover del botón de submit */
.form__submit:hover {
    width: 70%;
}
