.header{
    height: 10vh;
    width: 100vw;
    background-color: #7DA1D0;

} 

.cuerpo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B0BEC5;
    height: 90vh;
    width: 100vw;
    flex-direction: column;
}

.cuerpo__contenedorFormulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95%;
    width: 60%;
    background-color: rgba(96, 124, 138, 1);
    border-radius: 20px;
}

.contenedorFormulario__retroceder{
    height: 30px;
    transform: translate(340px, 19px);
    cursor: pointer;
}

.ContenedorFormulario__img{
    height: 20%;
    margin-bottom: 5px;
    transform: translateY(-15px);
}

.img__img{
    height: 100%;
    width: 100%;
}

.formulario__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-15px);
}

.form__label{
    margin-bottom: 8px;
}

.label__input{
    border: none;
    border-radius:25px ;
}

.form__activador{
    background-color: rgba(0, 92, 105, 1);
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.ventanaActivada{
    height: 83%;
    width: 50%;
    background-color: white;
    position: absolute;
    border-radius: 25px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(201, 194, 194, 1);
}

.ventanaActivada__divImg{
    height: 30px;
    width: 30px;
    transform: translateX(280px) translateY(10px);
    cursor: pointer;
}

.divImg__img{
    height: 100%;
    width: 100%;
}

.ventanaActivada__divTextYSubmit{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
}


.divTextYsubmit__text{
    font-size: 350%;
    text-align: center;
}

.divTextYSubmit__submit{
    height: 30%;
    width: 50%;
    border: none;
    border-radius: 25px;
    background-color: rgba(0, 92, 105, 1);
    cursor: pointer;
    font-size: 200%;

}


.ventanaActivada2{
    height: 50%;
    width: 50%;
    position: absolute;
    background-color: rgba(201, 194, 194, 1);
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    flex-direction: column;
}

.ventanaActivada2__cerrar{
    height: 30px;
    transform: translateX(280px) translateY(-60px);
    cursor: pointer;
}

.ventanaActivada2__Text{
    font-size: 250%;
    text-align: center;
}



@media (max-width: 768px) {
    .contenedorFormulario__retroceder{
        transform: translate(120px, -50px);
    }

    .ventanaActivada__divImg{
        transform: translate(100px, 8px);

    }

    .divTextYSubmit__submit{
        height: 30%;
        width: 80%;
    }
}
