/* Estilos para el encabezado */
.header {
    height: 10vh; /* Altura del encabezado */
    width: 100vw; /* Ancho completo de la ventana */
    background-color: #7DA1D0; /* Color de fondo azul */
}

/* Estilos para el cuerpo principal */
.cuerpo {
    display: flex; /* Usar flexbox */
    align-items: center; /* Alinear elementos al centro verticalmente */
    justify-content: center; /* Alinear elementos al centro horizontalmente */
    background-color: #B0BEC5; /* Color de fondo gris */
    height: 90vh; /* Altura del cuerpo principal */
    width: 100vw; /* Ancho completo de la ventana */
    flex-direction: column; /* Dirección de los elementos en columna */
}

/* Estilos para el contenedor del formulario */
.cuerpo__contenedorFormulario {
    display: flex; /* Usar flexbox */
    align-items: center; /* Alinear elementos al centro verticalmente */
    justify-content: center; /* Alinear elementos al centro horizontalmente */
    flex-direction: column; /* Dirección de los elementos en columna */
    height: 95%; /* Altura del contenedor del formulario */
    width: 60%; /* Ancho del contenedor del formulario */
    background-color: rgba(96, 124, 138, 1); /* Color de fondo */
    border-radius: 20px; /* Bordes redondeados */
}

/* Estilos para el botón de retroceder */
.contenedorFormulario__retroceder {
    height: 30px; /* Altura del botón */
    transform: translate(340px, 19px); /* Ajuste de posición */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
}

/* Estilos para el contenedor de la imagen de perfil */
.ContenedorFormulario__img {
    height: 20%; /* Altura del contenedor de la imagen */
    margin-bottom: 5px; /* Margen inferior */
    transform: translateY(-15px); /* Ajuste de posición vertical */
}

/* Estilos para la imagen de perfil */
.img__img {
    height: 100%; /* Altura completa del contenedor */
    width: 100%; /* Ancho completo del contenedor */
}

/* Estilos para el formulario */
.formulario__form {
    display: flex; /* Usar flexbox */
    flex-direction: column; /* Dirección de los elementos en columna */
    align-items: center; /* Alinear elementos al centro verticalmente */
    justify-content: center; /* Alinear elementos al centro horizontalmente */
    transform: translateY(-15px); /* Ajuste de posición vertical */
}

/* Estilos para las etiquetas del formulario */
.form__label {
    margin-bottom: 8px; /* Margen inferior */
}

/* Estilos para los campos de entrada del formulario */
.label__input {
    border: none; /* Sin borde */
    border-radius: 25px; /* Bordes redondeados */
}

/* Estilos para el botón de activación del formulario */
.form__activador {
    background-color: rgba(0, 92, 105, 1); /* Color de fondo */
    height: 30px; /* Altura del botón */
    width: 150px; /* Ancho del botón */
    border: none; /* Sin borde */
    border-radius: 10px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    color: white; /* Color del texto */
}

/* Estilos para la ventana de confirmación */
.ventanaActivada {
    height: 83%; /* Altura de la ventana */
    width: 50%; /* Ancho de la ventana */
    background-color: white; /* Color de fondo */
    position: absolute; /* Posición absoluta */
    border-radius: 25px; /* Bordes redondeados */
    display: none; /* Ocultar por defecto */
    align-items: center; /* Alinear elementos al centro verticalmente */
    justify-content: center; /* Alinear elementos al centro horizontalmente */
    flex-direction: column; /* Dirección de los elementos en columna */
    background-color: rgba(201, 194, 194, 1); /* Color de fondo */
}

/* Estilos para la imagen de cerrar en la ventana de confirmación */
.ventanaActivada__divImg {
    height: 30px; /* Altura de la imagen */
    width: 30px; /* Ancho de la imagen */
    transform: translateX(280px) translateY(10px); /* Ajuste de posición */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
}

/* Estilos para la imagen de cerrar */
.divImg__img {
    height: 100%; /* Altura completa del contenedor */
    width: 100%; /* Ancho completo del contenedor */
}

/* Estilos para el texto de la ventana de confirmación */
.ventanaActivada__divTextYSubmit {
    display: flex; /* Usar flexbox */
    align-items: center; /* Alinear elementos al centro verticalmente */
    justify-content: center; /* Alinear elementos al centro horizontalmente */
    height: 50%; /* Altura del contenedor de texto y submit */
    width: 100%; /* Ancho completo del contenedor */
}

/* Estilos para el texto dentro de la ventana de confirmación */
.divTextYsubmit__text {
    font-size: 350%; /* Tamaño de fuente grande */
    text-align: center; /* Alinear texto al centro */
}

/* Estilos para el botón de submit dentro de la ventana de confirmación */
.divTextYSubmit__submit {
    height: 30%; /* Altura del botón */
    width: 50%; /* Ancho del botón */
    border: none; /* Sin borde */
    border-radius: 25px; /* Bordes redondeados */
    background-color: rgba(0, 92, 105, 1); /* Color de fondo */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    font-size: 200%; /* Tamaño de fuente grande */
}

/* Estilos para la segunda ventana de confirmación */
.ventanaActivada2 {
    height: 50%; /* Altura de la ventana */
    width: 50%; /* Ancho de la ventana */
    position: absolute; /* Posición absoluta */
    background-color: rgba(201, 194, 194, 1); /* Color de fondo */
    display: none; /* Ocultar por defecto */
    align-items: center; /* Alinear elementos al centro verticalmente */
    justify-content: center; /* Alinear elementos al centro horizontalmente */
    border-radius: 25px; /* Bordes redondeados */
    flex-direction: column; /* Dirección de los elementos en columna */
}

/* Estilos para la imagen de cerrar en la segunda ventana de confirmación */
.ventanaActivada2__cerrar {
    height: 30px; /* Altura de la imagen */
    transform: translateX(600px) translateY(15px); /* Ajuste de posición */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
}

#correoElectronico{
    height: 30px; /* Altura del campo */
    width: 130%; /* Ancho del campo */
    transform: translateX(-30px); /* Ajuste de posición horizontal */
}

/* Estilos para el texto dentro de la segunda ventana de confirmación */
.ventanaActivada2__Text {
    font-size: 250%; /* Tamaño de fuente grande */
    text-align: center; /* Alinear texto al centro */
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .contenedorFormulario__retroceder {
        transform: translate(120px, -50px); /* Ajuste de posición para pantallas pequeñas */
    }

    .ventanaActivada__divImg {
        transform: translate(100px, 8px); /* Ajuste de posición para pantallas pequeñas */
    }

    .divTextYSubmit__submit {
        height: 30%; /* Altura del botón */
        width: 80%; /* Ancho del botón */
    }
}
