/* Estilos para el encabezado */
.header {
    height: 10vh;
    width: 100vw;
    background-color: #7DA1D0;
}

/* Estilos para el cuerpo principal */
.cuerpo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B0BEC5;
    height: 90vh;
    width: 100vw;
    flex-direction: column;
}

/* Estilos para el contenedor del formulario */
.cuerpo__contenedorFormulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95%;
    width: 60%;
    background-color: rgba(96, 124, 138, 1);
    border-radius: 20px;
}

/* Estilos para el botón de retroceder */
.contenedorFormulario__retroceder {
    height: 30px;
    transform: translate(340px, 19px); /* Ajuste de posición */
    cursor: pointer;
}

/* Estilos para el contenedor de la imagen de perfil */
.ContenedorFormulario__img {
    height: 20%;
    margin-bottom: 5px;
    transform: translateY(-15px);
}

/* Estilos para la imagen de perfil */
.img__img {
    height: 100%;
    width: 100%;
}

/* Estilos para el formulario */
.formulario__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-15px);
}

/* Estilos para las etiquetas del formulario */
.form__label {
    margin-bottom: 8px;
}

/* Estilos para los campos de entrada del formulario */
.label__input {
    border: none;
    border-radius: 25px;
}

/* Estilos para el botón de activación del formulario */
.form__activador {
    background-color: rgba(0, 92, 105, 1);
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

/* Estilos para la ventana de confirmación */
.ventanaActivada {
    height: 83%;
    width: 50%;
    background-color: white;
    position: absolute;
    border-radius: 25px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(201, 194, 194, 1);
}

/* Estilos para la imagen de cerrar en la ventana de confirmación */
.ventanaActivada__divImg {
    height: 30px;
    width: 30px;
    transform: translateX(280px) translateY(10px); /* Ajuste de posición */
    cursor: pointer;
}



/* Estilos para la imagen de cerrar */
.divImg__img {
    height: 100%;
    width: 100%;
}

/* Estilos para el texto de la ventana de confirmación */
.ventanaActivada__divTextYSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
}

/* Estilos para el texto dentro de la ventana de confirmación */
.divTextYsubmit__text {
    font-size: 350%;
    text-align: center;
}

/* Estilos para el botón de submit dentro de la ventana de confirmación */
.divTextYSubmit__submit {
    height: 30%;
    width: 50%;
    border: none;
    border-radius: 25px;
    background-color: rgba(0, 92, 105, 1);
    cursor: pointer;
    font-size: 200%;
}

/* Estilos para la segunda ventana de confirmación */
.ventanaActivada2 {
    height: 50%;
    width: 50%;
    position: absolute;
    background-color: rgba(201, 194, 194, 1);
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    flex-direction: column;
}

/* Estilos para la imagen de cerrar en la segunda ventana de confirmación */
.ventanaActivada2__cerrar {
    height: 30px;
    transform: translateX(600px) translateY(15px); /* Ajuste de posición */
    cursor: pointer;
}

#correoElectronico{
    height: 30px;
    width: 130%;
    transform: translateX(-30px);
}

/* Estilos para el texto dentro de la segunda ventana de confirmación */
.ventanaActivada2__Text {
    font-size: 250%;
    text-align: center;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .contenedorFormulario__retroceder {
        transform: translate(120px, -50px); /* Ajuste de posición para pantallas pequeñas */
    }

    .ventanaActivada__divImg {
        transform: translate(100px, 8px); /* Ajuste de posición para pantallas pequeñas */
    }

    .divTextYSubmit__submit {
        height: 30%;
        width: 80%;
    }
}
