/* Estilos del encabezado */
.header {
    display: flex; /* Flexbox para disposición */
    height: 10vh; /* Altura del encabezado */
    width: 100vw; /* Ancho completo de la ventana */
    background-color: #7DA1D0; /* Color de fondo */
    justify-content: space-between; /* Distribución de espacio entre elementos */
    align-items: center; /* Alineación vertical de elementos */
}

.header__menuYPerfil {
    display: flex; /* Flexbox para disposición */
    height: 45px; /* Altura del elemento */
    width: 45px; /* Ancho del elemento */
    border-radius: 20px; /* Borde redondeado */
    background-color: #B0BEC5; /* Color de fondo */
    align-items: center; /* Alineación vertical de elementos */
    justify-content: center; /* Alineación horizontal de elementos */
    flex-direction: column; /* Distribución de columnas */
}

.header__botonMenu {
    cursor: pointer; /* Cursor interactivo */
    height: 30px; /* Altura del botón */
    width: 110px; /* Ancho del botón */
    margin-left: -150px; /* Margen izquierdo negativo */
    display: flex; /* Flexbox para disposición */
    position: absolute; /* Posicionamiento absoluto */
    left: 180px; /* Posición izquierda */
    top: 50px; /* Posición superior */
    z-index: 100; /* Índice de apilamiento */
}

.botonMenu__imgYTexto {
    display: flex; /* Flexbox para disposición */
    align-items: center; /* Alineación vertical de elementos */
    justify-content: center; /* Alineación horizontal de elementos */
    height: 100%; /* Altura del elemento */
    width: 30%; /* Ancho del elemento */
    margin-left: 30px; /* Margen izquierdo */
}

.imgYTexto__img {
    height: 100%; /* Altura del elemento */
    width: 80%; /* Ancho del elemento */
    transform: translateY(-35px); /* Transformación de posición vertical */
}

.img__desplegado {
    display: flex; /* Flexbox para disposición */
}

.imgYTexto__texto {
    font-size: 25px; /* Tamaño de fuente */
    margin-left: 10px; /* Margen izquierdo */
    transform: translateY(-35px); /* Transformación de posición vertical */
}

/* Estilos del menú desplegable */
.menu {
    margin-left: 5px; /* Margen izquierdo */
    transition: transform 2s, box-sizing 2s, padding 2s, background-color 2s; /* Transiciones */
    display: flex; /* Flexbox para disposición */
    height: 100%; /* Altura del menú */
    width: 20%; /* Ancho del menú */
    flex-direction: column; /* Distribución de columnas */
    align-items: center; /* Alineación vertical de elementos */
    transform: translateY(215px); /* Transformación de posición vertical */
}

.menu__opcionesDesplegadas {
    box-sizing: content-box; /* Modelo de caja */
    height: 470px; /* Altura del elemento */
    width: 25%; /* Ancho del elemento */
    background-color: rgba(96, 124, 138, 1); /* Color de fondo */
    cursor: pointer; /* Cursor interactivo */
    display: none; /* Ocultar elemento por defecto */
    position: relative; /* Posicionamiento relativo */
    z-index: 90; /* Índice de apilamiento */
}

.opcionesDesplegadas__iconoYTexto {
    height: 40px; /* Altura del elemento */
    width: 250px; /* Ancho del elemento */
    display: flex; /* Flexbox para disposición */
    margin-left: -20px; /* Margen izquierdo */
    transform: translateY(-5px); /* Transformación de posición vertical */
    border-radius: 20px; /* Borde redondeado */
    flex-direction: row-reverse; /* Distribución de columnas invertida */
}

.opcionesDesplegadas__iconoYTexto:hover {
    background-color: rgba(176, 190, 197, 1); /* Color de fondo al pasar el cursor */
}

.iconoYTexto__icono {
    margin-left: -40px; /* Margen izquierdo */
    height: 80%; /* Altura del icono */
}

.iconoYTexto__texto {
    font-size: 22px; /* Tamaño de fuente */
    width: 70%; /* Ancho del texto */
    text-align: center; /* Alineación del texto */
    transform: translateX(-15px); /* Transformación de posición horizontal */
    cursor: pointer; /* Cursor interactivo */
}

/* Estilos del perfil de usuario */
.perfil {
    margin-right: 15px; /* Margen derecho */
    position: absolute; /* Posicionamiento absoluto */
    right: -1px; /* Posición derecha */
    cursor: pointer; /* Cursor interactivo */
}

.perfilActivado {
    display: none; /* Ocultar por defecto */
    align-items: center; /* Alineación vertical de elementos */
    flex-direction: column; /* Distribución de columnas */
    height: 75%; /* Altura del perfil */
    width: 28%; /* Ancho del perfil */
    position: absolute; /* Posicionamiento absoluto */
    background-color: white; /* Color de fondo */
    top: 12%; /* Posición superior */
    left: 70%; /* Posición izquierda */
    border-radius: 35px; /* Borde redondeado */
    z-index: 100; /* Índice de apilamiento */
}

.perfilActivado__contenedores {
    height: 15%; /* Altura del contenedor */
    width: 100%; /* Ancho del contenedor */
    display: flex; /* Flexbox para disposición */
    align-items: center; /* Alineación vertical de elementos */
    justify-content: center; /* Alineación horizontal de elementos */
}

.perfil__contenedores--img {
    height: 35%; /* Altura del contenedor de imagen */
}

.contenedores__nombre,
.contenedores__img,
.contenedores__saludo,
.contenedores__GestionarCuenta,
.contenedores__cerrarSesion {
    display: flex; /* Flexbox para disposición */
    align-items: center; /* Alineación vertical de elementos */
    justify-content: center; /* Alineación horizontal de elementos */
}

.contenedores__boton {
    background-color: rgba(0, 92, 105, 1); /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 50px; /* Borde redondeado */
    cursor: pointer; /* Cursor interactivo */
    padding: 10px 30px; /* Relleno */
}

.contenedores__boton:hover {
    padding: 12px 80px; /* Relleno al pasar el cursor */
}

.perfil__img {
    height: 70%; /* Altura de la imagen */
    width: 70%; /* Ancho de la imagen */
}

/* Estilos del contenedor general */
.contenedorGeneral {
    width: 100vw; /* Ancho completo de la ventana */
    height: 90vh; /* Altura del contenedor */
    background-color: rgba(176, 190, 197, 1); /* Color de fondo */
    display: flex; /* Flexbox para disposición */
    align-items: center; /* Alineación vertical de elementos */
    justify-content: center; /* Alineación horizontal de elementos */
    flex-direction: column; /* Distribución de columnas */
}

.contenedorGeneral__iconoYNombre {
    height: 20%; /* Altura del elemento */
    width: 100%; /* Ancho del elemento */
    display: flex; /* Flexbox para disposición */
    align-items: center; /* Alineación vertical de elementos */
    justify-content: center; /* Alineación horizontal de elementos */
    flex-direction: row; /* Distribución de filas */
}

.iconoYNombre__icono {
    height: 20%; /* Altura del icono */
    width: 20%; /* Ancho del icono */
    transform: translate(1px, -30px); /* Transformación de posición */
}

.iconoYNombre__nombre {
    font-size: 300%; /* Tamaño de fuente */
    transform: translate(-20px, 50px); /* Transformación de posición */
}

.boton__definirAlerta {
    height: 80%; /* Altura del botón */
    width: 100%; /* Ancho del botón */
    display: flex; /* Flexbox para disposición */
    align-items: center; /* Alineación vertical de elementos */
    justify-content: center; /* Alineación horizontal de elementos */
    flex-direction: row; /* Distribución de filas */
}

.definirAlerta__boton {
    height: 20%; /* Altura del botón */
    width: 50%; /* Ancho del botón */
    display: flex; /* Flexbox para disposición */
    align-items: center; /* Alineación vertical de elementos */
    justify-content: center; /* Alineación horizontal de elementos */
    flex-direction: row; /* Distribución de filas */
    transform: translateY(50px); /* Transformación de posición vertical */
    cursor: pointer; /* Cursor interactivo */
}

.boton__icono {
    height: 100%; /* Altura del botón de icono */
    width: 20%; /* Ancho del botón de icono */
    background-color: rgba(139, 159, 169, 0.5); /* Color de fondo */
    display: flex; /* Flexbox para disposición */
    align-items: center; /* Alineación vertical de elementos */
    justify-content: center; /* Alineación horizontal de elementos */
    border-top-left-radius: 15px; /* Borde redondeado */
    border-bottom-left-radius: 15px; /* Borde redondeado */
}

.icono__img {
    height: 80%; /* Altura de la imagen */
    width: 80%; /* Ancho de la imagen */
}

.boton__frase {
    height: 100%; /* Altura del botón de frase */
    width: 30%; /* Ancho del botón de frase */
    background-color: rgba(49, 78, 93, 1); /* Color de fondo */
    display: flex; /* Flexbox para disposición */
    align-items: center; /* Alineación vertical de elementos */
    justify-content: center; /* Alineación horizontal de elementos */
    border-top-right-radius: 15px; /* Borde redondeado */
    border-bottom-right-radius: 15px; /* Borde redondeado */
    font-size: 200%; /* Tamaño de fuente */
    color: white; /* Color del texto */
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .perfilActivado {
        transform: translateX(-280px); /* Ajuste de posición para abrir el perfil */
        width: 70%; /* Ajuste del ancho del perfil */
        border-radius: 30px; /* Ajuste del radio del borde */
    }

    .menu__opcionesDesplegadas {
        width: 70%; /* Ajuste del ancho del menú desplegable para ocupar más espacio */
    }

    .opcionesDesplegadas__iconoYTexto {
        transform: translateX(-10px); /* Ajuste de posición de los íconos y textos del menú */
    }

    .iconoYNombre__icono {
        transform: translate(-120px, -30px); /* Ajuste de posición del icono en el encabezado */
    }

    .iconoYNombre__nombre {
        transform: translate(40px, 50px); /* Ajuste de posición del nombre en el encabezado */
    }

    .definirAlerta__boton {
        height: 20%; /* Ajuste de altura del botón para definir alerta */
        width: 100%; /* Ajuste de ancho del botón para definir alerta */
        transform: translateY(50px); /* Ajuste de posición del botón para definir alerta */
    }
}
